.card-profile {
  display: flex;
  align-items: center;
  margin: 60px 30px 30px 0;
  h2 {
    font-size: 18px;
    margin-top: 0;
  }
  p {
    font-size: 14px;
    color: $gray;
  }
}

.card-profile-picture {
  margin-right: 20px;
}

.gold-star {
  color: $yellow;
}

.gray-star {
  color: $gray-light;
}
